/* ========================== Common CSS ====================== */

* {
    margin: 0;
    padding: 0;
}

.button {
    background-color: tomato;
    border-radius: 5px;
    padding: 16px 20.5px;
    color: white;
    text-decoration: none;
    border: none;
}

p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

h1,
h4,
a {
    font-family: 'Inter', sans-serif;
}


/* =================== Banner Section ================== */
#banner-section {
    background-image: url(images/donate-banner-bg.jpg);
    background-repeat: no-repeat;
    background-size: 1440px 669px;
    height: 669px;
}

.banner-text {
    color: white;
    text-align: center;
    padding: 174px;
}

.banner-text h1 {
    font-weight: 700;
    font-size: 65px;
    line-height: 79px;
    width: 826px;
    margin: 0 auto;
}

.banner-text p {
    font-size: 18px;
    line-height: 28px;
    width: 691px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 46px;
}

.banner-text {
    font-weight: 400;
    font-size: 16px;
}


/* =================== Donate Today Section ================== */

#donate-today-section {
    text-align: center;
}

.donate-today-text {
    margin-top: 130px;
}

.donate-today-text h1 {
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
}

.donate-today-text p {
    font-size: 18px;
    line-height: 28px;
    width: 691px;
    margin: 20px auto 50px auto;
}

/* ====== Donate Today Ampunt ====== */

#donate-today-amount {
    display: flex;
    width: 765px;
    margin: 0 auto;
}

#donate-today-amount .card {
    width: 135px;
    height: 123px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.card-1,
.card-3,
.card-4,
.card-5 {
    background-color: #FAFAFA;
    color: #707070;
}

.card-1,
.card-2,
.card-3,
.card-4 {
    margin-right: 20px;
}

.card-2 {
    background-color: #FFEEEE;
    color: #FF5959;
    border: 2px solid #FF5959;
}


/* ====== Donate Today Form ====== */

#donate-today-form {
    margin-top: 60px;
}

#donate-today-form .input-field {
    width: 765px;
    border: none;
    border-bottom: 1px solid #DADADA;
    text-align: center;
    padding: 10px 0;
}

#donate-today-form .button {
    margin-top: 30px;
}

.input-btn {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
}


/* =================== Donate Plan Section ================== */

/* ========= Donate Plan Text ======== */

#donate-plan-section {
    margin-top: 130px;
}

#donate-plan-text {
    text-align: center;
}

#donate-plan-text h1 {
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
}

#donate-plan-text p {
    font-size: 18px;
    line-height: 28px;
    width: 691px;
    margin: 20px auto 50px auto;
}


/* ========= Donate Plan Card ======== */


#donate-plan-card {
    display: flex;
    width: 1120px;
    margin: 0 auto;
}

.plan-card {
    width: 360px;
    height: 352px;
    border-radius: 5px;
    padding: 23px;
}

.plan-card-1 {
    background-color: #4F9DA61A;
    margin-right: 24px;
}

.plan-card-2 {
    background-color: #FF59591A;
    margin-right: 24px;
}

.plan-card-3 {
    background-color: #e2e46038;
}

.plan-card img {
    padding-top: 63.5px;
}

.plan-card h4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    margin-top: 31px;
}

.plan-card p {
    font-size: 16px;
    line-height: 24px;
    color: #707070;
    margin-top: 16px;
}



/* =================== Food Relief Section ================== */


#food-relief-area {
    max-width: 1440px;
    width: 100%;
    margin-top: 100px;
}

.food-relief-top-section {
    text-align: center;
}

.food-relief-top-section h1 {
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
}

.food-relief-top-section p {
    font-size: 18px;
    line-height: 28px;
    width: 1091px;
    margin: 20px auto 50px auto;
}


#food-relief-main {
    display: flex;
    max-width: 90%;
    margin: 0 auto;
    margin-top: 70px;
}

.food-relief-contact {
    width: 40%;
    padding-right: 50px;
}

.food-relief-contact p {
    font-size: 18px;
    line-height: 28px;
}

.food-relief-contact .contact .phone {
    display: flex;
    margin: 30px 0;
}

.food-relief-contact .contact .phone span {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding-left: 20px;
    color: #707070;
}

.food-relief-contact .contact .email {
    display: flex;
}

.food-relief-contact .contact .email span {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding-left: 20px;
    color: #707070;
}

.food-relief-contact .contact img {
    width: 24px;
}

.food-relief-image {
    width: 60%;
    padding-left: 50px;
}

.food-relief-image img {
    width: 100%;
}



/* ============== Get update Section ============= */

#get-update-section {
    margin-top: 130px;
}

.update-text {
    text-align: center;
}

.update-text h1 {
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
}

.update-text p {
    font-size: 18px;
    line-height: 28px;
    width: 691px;
    margin: 20px auto 50px auto;
}

#get-update-form {
    background-color: #FFF4D6;
    width: 809px;
    height: 200px;
    margin: 0 auto;
}

.form-area {
    padding-top: 76px;
    padding-left: 189px;
}

#get-update-form #email {
    width: 275px;
    height: 48px;
    border: none;
    background-color: #D9D9D9;
    padding-left: 17px;
}

#get-update-form #submit {
    width: 157px;
    height: 48px;
    background-color: tomato;
    color: white;
    border: none;
    margin-left: -3px;
}



/* ==================== Footer Area =================== */



footer {
    background-color: #0B0D17;
    max-width: 1440px;
    height: 177px;
    margin-top: 130px;
}

#footer-text-area {
    text-align: center;
    padding-top: 43px;
}

#footer-text-area h1 {
    font-family: 'Lobster', cursive;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    color: tomato;
}

#footer-text-area p {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: white;
    margin-top: 24px;
}