* {
    margin: 0;
    padding: 0;
}

body {
    /* font-family: 'Inter', sans-serif; */
    /* font-family: 'Poppins', sans-serif; */
}







/* =================== Banner Section ================== */
#banner-section {
    background-image: url(images/donate-banner-bg.jpg);
    background-repeat: no-repeat;
    background-size: 1440px 669px;
    height: 669px;
}

.banner-text {
    color: white;
    text-align: center;
    padding: 174px;
}

.banner-text h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 65px;
    line-height: 79px;
    width: 826px;
    margin: 0 auto;
}

.banner-text p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    width: 691px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 46px;
}

.banner-text a {
    font-family: 'Inter', sans-serif;
    background-color: tomato;
    border-radius: 5px;
    padding: 16px 20.5px;
    color: white;
    text-decoration: none;
}