* {
    margin: 0;
    padding: 0;
}

body {
    /* font-family: 'Inter', sans-serif; */
    /* font-family: 'Poppins', sans-serif; */
}




.button {
    background-color: tomato;
    border-radius: 5px;
    padding: 16px 20.5px;
    color: white;
    text-decoration: none;
    border: none;
}



/* =================== Banner Section ================== */
#banner-section {
    background-image: url(images/donate-banner-bg.jpg);
    background-repeat: no-repeat;
    background-size: 1440px 669px;
    height: 669px;
}

.banner-text {
    color: white;
    text-align: center;
    padding: 174px;
}

.banner-text h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 65px;
    line-height: 79px;
    width: 826px;
    margin: 0 auto;
}

.banner-text p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    width: 691px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 46px;
}

.banner-text a {
    font-family: 'Inter', sans-serif;
}



/* =================== Donate Today Section ================== */
#donate-today-section {
    text-align: center;
}

.donate-today-text {
    margin-top: 130px;
}

.donate-today-text h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
}

.donate-today-text p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    width: 691px;
    margin: 20px auto 50px auto;
}

/* ====== Donate Today Ampunt ====== */

#donate-today-amount {
    display: flex;
    width: 765px;
    margin: 0 auto;
}

#donate-today-amount .card {
    width: 135px;
    height: 123px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.card-1,
.card-3,
.card-4,
.card-5 {
    background-color: #FAFAFA;
    color: #707070;
}

.card-1,
.card-2,
.card-3,
.card-4 {
    margin-right: 20px;
}

.card-2 {
    background-color: #FFEEEE;
    color: #FF5959;
    border: 2px solid #FF5959;
}




/* ====== Donate Today Form ====== */
#donate-today-form {
    margin-top: 60px;
}

#donate-today-form .input-field {
    width: 765px;
    border: none;
    border-bottom: 1px solid #DADADA;
    text-align: center;
    padding: 10px 0;
}

#donate-today-form .button {
    margin-top: 30px;
}


/* =================== Donate Plan Section ================== */
#donate-plan-section {
    margin-top: 130px;
}

#donate-plan-text {
    text-align: center;
}

#donate-plan-text h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
}

#donate-plan-text p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    width: 691px;
    margin: 20px auto 50px auto;
}


#donate-plan-card {
    display: flex;
    width: 1120px;
    margin: 0 auto;
}

.plan-card {
    width: 360px;
    height: 352px;
    border-radius: 5px;
    padding: 23px;
}

.plan-card-1 {
    background-color: #4F9DA61A;
    margin-right: 24px;
}

.plan-card-2 {
    background-color: #FF59591A;
    margin-right: 24px;
}

.plan-card-3 {
    background-color: #e2e46038;
}

.plan-card img {
    padding-top: 63.5px;
}

.plan-card h4 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    margin-top: 31px;
}

.plan-card p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #707070;
    margin-top: 16px;
}